@font-face {
  font-family: Sigmar One;
  src: url("/ttf/SigmarOne-Regular.ttf");
}

body {
  margin: 0;
  width: 1000px;
  height: 1080px;
}

h1 {
  text-align: center;
  font-family: "Sigmar One";
  font-size: 96px;
  margin-top: 0;
  margin-bottom: 20px;
  animation: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: #FFC462;
}

h2 {
  text-align: center;
  font-family: "Sigmar One";
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 20px;
  animation: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: #F78F1E;
}

main {
  overflow: hidden;
  height: 810px;
}

main #list {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

section div{
  text-align: center;
  position: relative;
  font-family: "Sigmar One";
  font-size: 32px;
  color: #875fc7;
  text-decoration: underline;
  text-underline-offset: 8px;
}

ul {
  margin: 0;
  padding: 0;
  color: #E968C0;
}

li {
  list-style: none;
  text-align: center;
  font-family: "Sigmar One";
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.defilement {
  animation: defilementVertical 10s linear infinite; /* 5s de défilement, animation linéaire, répétition infinie */
}

@keyframes defilementVertical {
  from {
    transform: translateY(100%); 
  }
  to {
    transform: translateY(-100%);
  }
}